*, html, body, div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn{
    margin: 40px 0 0px 40%;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #222;
}

.card{
    max-width: 500px;
    margin: 20px auto;
    border: 1px dashed #222;
    border-radius: 15px;
    padding: 20px 0 20px 20px;
}

.card__info {
    margin: 10px 0;
}

.card__info:first-child {
    margin-top: 0;
}
.card__info:last-child{
    margin-bottom: 0;
}

.card__text {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 500;
}


